# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DEFAULT_ADMIN_DISCORD_ID=

# App
FRONTEND_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:8080
STORAGE_PATH=downloads/
CACHE_PATH=cache/
API_VERSION=1
API_TITLE=William278.net API
API_SECRET=

# Database
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=backend
MYSQL_USERNAME=root
MYSQL_PASSWORD=

# Data services
GITHUB_API_KEY=
MODRINTH_API_KEY=